# Object files
*.o
*.obj
*.bin

# Executables
a.out
a.exe
*.out
*.exe
mcmcSolver
# Shared and static libraries
*.so
*.dylib
*.dll
*.lib
*.a

# Debugging and profiler output
*.dSYM/
*.gcda
*.gcno
*.gcov

# Build directories (if using common build systems)
build/
bin/
lib/

# Editor and OS-specific files (optional but useful)
*.swp
*.swo
*~
Thumbs.db
.DS_Store
